
.container {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.content {
  display: flex;
  align-items:center;
  justify-content: space-between ;
  gap: 120px;
  padding: 40px 20px;
  max-width: 1200px;
}

.image {
  max-width: 400px;
  border-radius: 25px;
  border: 3px solid #EFAE23;
  margin-top: 70px;

}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
 
}

.text h1{
    color: #6AC287;
     font-size: 35px;
     font-family: 'gotham'; 
     font-weight: 600;
}

.text p {
    font-family: 'chicken_pie';
    font-size: 20px;
    text-align: justify;
    line-height:40px;
}

hr {
 
    color: #C5C5C5;
}

.bowl-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  
}

.bowl-image {
  max-width: 80px; 
}