 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..950&display=swap');
 
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar {
    display:flex;
    height: 100px;
    align-items:center;
    justify-content: center;
    gap: 20px;
    background-color: #2D0A53;
    list-style: none;
   

}

.logo{
    width: 100px;
    height:auto;
    border-radius: 8px;
    align-items: center;

}

.logo-container {
    padding: 0px 10px;
    margin-right: 30px;
}

.menu-items {
    display:flex;
}

.menu-items li {
    list-style:none;
    cursor:pointer;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EFAE23;
    padding: 0px 15px;
    transition: color 0.5s ease;
    
}

.menu-items li:hover {
    color: #6AC287; 
}

.hover-icon {
    font-size: 16px;
    color: #EFAE23; 
    position: absolute;
    top: 0px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.menu-items li {
    position: relative; 
}

.menu-items li:hover .hover-icon {
    opacity: 1;
    top: -25px; 
}


