footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2D0A53;
  border-top: 4px solid #FFB100;
  padding: 20px 40px;
  height: 140px;
}

.logo-footer {
  padding: 20px;
  
}

.logo-footer .logo {
  height: 70px;
  width: auto;
}

.footer-center {
  flex: 1;
  text-align: center;
  color: #EDDFA8;
  
}

.footer-center p {
  margin-left: 15%;
  margin-top: 10px;
  font-size: 18px;
  
}
.company-p {
  margin-top: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  padding:  0px 10%;
}

.footer-contact {
  
  color: #EDDFA8;
}

.footer-contact h4 {
  margin-bottom: 4px;
  font-size: 18px;
}

.footer-contact p {
  font-size: 16px;
}

.footer-social {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.footer-social img {
  width: 30px;

  height: auto;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/* Responsividade */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 15px;
  }

  .footer-right {
    align-items: center;
    text-align: center;
  }

  .footer-center {
    order: 3;
  }
}
